Package: com.nickblend.hidealldots10
Name: HideAllDots10
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: Modified version of NoDots10 by harrywantstodev. Hides all UI dots. I removed his tweak's dependancy on Cephei to get rid of a Cephei warning, although a downside is that there are no tweak preferences.
Maintainer: nickblend
Author: nickblend & harrywantstodev
Section: Tweaks
